{% load static %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <div class='container1'>
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</head>
<body>
<div class="row">
    <div class="col-sm-8">
        <div class="container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="invoice_date">Invoice Date</label>
                    <input type="date" class="form-control" id="invoice_date" name="invoice_date">
                </div>
                <div class="form-group col-md-6">
                    <label for="invoice_number">Invoice No.</label>
                    <input type="text" class="form-control" id="invoice_number" name="invoice_number">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Customer Name</label>
                    <input type="text" class="form-control" id="name" name="Customer Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="line_one">Item One</label>
                    <input type="text" class="form-control" id="line_one" name="line_one">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_one_quantity">Quantity</label>
                    <input type="number" class="form-control" id="line_one_quantity" name="line_one_quantity">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_one_unit_price">U.Price</label>
                    <input type="number" class="form-control" id="line_one_unit_price" name="line_one_unit_price">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_one_total_price">T.Price</label>
                    <input type="number" class="form-control" id="line_one_total_price" name="line_one_total_price">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="line_two">Item Two</label>
                    <input type="text" class="form-control" id="line_two" name="line_two">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_two_quantity">Quantity</label>
                    <input type="number" class="form-control" id="line_two_quantity" name="line_two_quantity">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_two_unit_price">U.Price</label>
                    <input type="number" class="form-control" id="line_two_unit_price" name="line_two_unit_price">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_two_total_price">T.Price</label>
                    <input type="number" class="form-control" id="line_two_total_price" name="line_two_total_price">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="line_three">Item Three</label>
                    <input type="text" class="form-control" id="line_three" name="line_three">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_three_quantity">Quantity</label>
                    <input type="number" class="form-control" id="line_three_quantity" name="line_three_quantity">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_three_unit_price">U.Price</label>
                    <input type="number" class="form-control" id="line_three_unit_price" name="line_three_unit_price">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_three_total_price">T.Price</label>
                    <input type="number" class="form-control" id="line_three_total_price" name="line_three_total_price">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="line_four">Item Four</label>
                    <input type="text" class="form-control" id="line_four" name="line_four">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_four_quantity">Quantity</label>
                    <input type="number" class="form-control" id="line_four_quantity" name="line_four_quantity">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_four_unit_price">U.Price</label>
                    <input type="number" class="form-control" id="line_four_unit_price" name="line_four_unit_price">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_four_total_price">T.Price</label>
                    <input type="number" class="form-control" id="line_four_total_price" name="line_four_total_price">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="line_five">Item Five</label>
                    <input type="text" class="form-control" id="line_five" name="line_five">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_five_quantity">Quantity</label>
                    <input type="number" class="form-control" id="line_five_quantity" name="line_five_quantity">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_five_unit_price">U.Price</label>
                    <input type="number" class="form-control" id="line_five_unit_price" name="line_five_unit_price">
                </div>
                <div class="form-group col-md-2">
                    <label for="line_five_total_price">T.Price</label>
                    <input type="number" class="form-control" id="line_five_total_price" name="line_five_total_price">
                </div>
            </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="invoice_type">Invoice Type</label>
                <select class="form-control" id="invoice_type" name="invoice_type">
                    <option value="invoice">Invoice</option>
                    <option value="receipt">Receipt</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                    <label for="total">Total</label>
                    <input type="text" class="total" id="total" name="total">
            </div>
        </div>
        <div class="form-group text-center"> <!-- Center the button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button> <!-- Make button wider -->
        </div>
              </form>
            </div>
        </div>

<div class="col-sm-3">
    <div class="container">
        <span class="">Recent Invoices</span>
        <span class="">{{ total_invoices }}</span>
        <br><br>
        {% for instance in queryset %}
        <div>
            <div class="">{{instance.name}}</div>
            <div class="">{{instance.invoice_date}}</div>
        </div>
        <div class="">Rs. {{instance.total}}</div><br>
            {% endfor %}
    </div>
</div>
</body>
</html>
