<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
<body>
<div style="background:yellow;padding:5px">
  <h4 style="text-align:center">Connect +91-70454546670 Email: deopriyanka03@gmail.com</h4>
</div>

<div class="header">
  <h1>Invoice Mate</h1>
  <p>Your Invoice Partner</p>
</div>

<div class="navbar">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'list_invoice' %}">List Invoice</a>
  <a href="{% url 'add_invoice' %}" >Add Invoice</a>
  <a href="/accounts/login" class="right"><button class="btn btn-danger"> Login </button> </a>
</div>

<div class="row">
  <div class="side">
    <h2>About Invoice Mate</h2>
    <h6>Invoice Management Software revolutionizes the way businesses handle their billing processes. Designed to simplify and streamline invoicing tasks, this powerful tool offers comprehensive solutions for creating, managing, and tracking invoices with ease. Whether you're a small business owner, freelancer, or large enterprise, Invoice Management Software provides the efficiency and organization needed to stay on top of your finances.</h6>
<!--    <div class="fakeimg" style="height:200px;">Image</div>-->
    <p>Streamline Your Billing Process with Invoice Management Software.</p>
    <h3>Benefits</h3>
    <div class="fakeimg" style="height:60px;">Image<figcaption>Time Saving</figcaption></div><br>
    <div class="fakeimg" style="height:60px;">Image<figcaption>Improved Accuracy</figcaption></div><br>
    <div class="fakeimg" style="height:60px;">Image<figcaption>Enhanced Client Relationships</figcaption></div><br>
      <div class="fakeimg" style="height:60px;">Image<figcaption>Financial Visibility</figcaption></div>
  </div>
  <div class="main">
    <h2>Key Features Invoice Mate Offers</h2>
    <h5>Effortless Invoicing</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Create professional-looking invoices quickly and easily using customizable templates. Simply input client details, services rendered, and pricing information to generate accurate invoices with just a few clicks.</p>
    <br>
    <h5>Automated Billing</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Set up recurring invoices and automated billing schedules to eliminate manual tasks and ensure timely payments. With automated reminders and payment notifications, you can effortlessly keep track of outstanding invoices and reduce late payments.</p>
    <h5>Centralized Database</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Maintain a centralized database of all your invoices, clients, and payment history for easy access and reference. Organize invoices by client, project, or date, and retrieve information instantly whenever needed.</p>
    <br>
    <h5>Expense Tracking</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p> Keep track of expenses associated with each project or client, allowing for accurate billing and expense reimbursement. Categorize expenses, attach receipts, and generate detailed expense reports for better financial management.</p>

  </div>
</div>

</body>
</html>
